{:lein         true
 :source-paths ["src"]
 :builds       {:app {:target     :browser
                      :output-dir "resources/public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [clone.core]
                                         :init-fn clone.core/init!}}
                      :compiler-options {:infer-externs :auto}
                      :devtools   {:after-load clone.core/mount-root}}}
 :dev-http     {3000 {:root    "resources/public"
                      :handler clone.handler/app}}}
